// ---------------------------------
//   Visibility
// ---------------------------------

.u-hidden {
  display: none !important;
}

.u-hidden-mobile-only {
  @include mobile-only {
    display: none !important;
  }
}

.u-hidden-tablet-up {
  @include tablet-up {
    display: none !important;
  }
}

.u-hidden-tablet-only {
  @include tablet-only {
    display: none !important;
  }
}

.u-hidden-desktop-up {
  @include desktop-up {
    display: none !important;
  }
}

.u-hidden-desktop-only {
  @include desktop-only {
    display: none !important;
  }
}

// ---------------------------------
//   background Color
// ---------------------------------

// .u-bg-main {
//   background-color: $bg--main;
// }

// ---------------------------------
//   Spacing
// ---------------------------------

.u-no-padding {
  padding: 0;
}

.u-no-margin {
  margin: 0;
}

// ---------------------------------
//   Lists
// ---------------------------------

.u-list-bordered,
.u-list-simple,
.u-list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.u-list-inline {
  li {
    display: inline-block;
  }
}

.u-list-bordered {
  .u-list-bordered__item {
    position: relative;
    display: block;
    padding: 12px 20px;
    margin-bottom: -1px;
    background-color: $bg--main;
    border: 1px solid $border--main;

    &:first-child {
      border-top-left-radius: $border-radius--input;
      border-top-right-radius: $border-radius--input;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius--input;
      border-bottom-right-radius: $border-radius--input;
    }

    &.u-no-padding {
      padding: 0;
    }
  }

  .u-list-bordered__controls {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}

// ---------------------------------
//   Misc
// ---------------------------------

.u-sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.u-clear-button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.u-pointer {
  cursor: pointer;
}

.u-no-link {
  &,
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.u-overflow-x-hidden {
  overflow-x: hidden;
}
