// ---------------------------------
//   Colors
// ---------------------------------

$color-white: #fff;
$color-off-white: #f7fafa;
$color-light-gray: #e8f0ef;
$color-gray: #abbabb;
$color-medium-gray: #72808a;
$color-dark-gray: #495965;
$color-black: #000;

// $color-tan: #dbdfac;
$color-red: #db162e;
$color-dark-red: #410001;
$color-purple: #a335ee;

$color-green: #5cdb16;
$color-dark-green: #3c763d;
$color-gold: #cc0;
$color-orange: #db8a16;

// alert colors
$color-honeydew: #e1faf5;
$color-sea-green: #137C67;
$color-light-yellow: #fff3d9;
$color-bronze: #946500;
$color-light-pink: #f7e4e1;
$color-blood-red: #ab3f2e;

$color-transparent-black: rgba($color-black, 0.2);
$color-transparent-black--light: rgba($color-black, 0.125);

// ---------------------------------
//   Color Usage
// ---------------------------------

$color-primary: $color-red;
$color-primary--hover: darken($color-primary, 3%);
$color-secondary: $color-dark-red;
$color-secondary--hover: lighten($color-secondary, 10%);

$color--accent: $color-green;
$color--disabled: $color-gray;
$color--error: $color-blood-red;
$color--error-light: $color-light-pink;
$color--success: $color-sea-green;
$color--success-light: $color-honeydew;
$color--warning: $color-bronze;
$color--warning-light: $color-light-yellow;

// background colors
$bg--main: $color-off-white;
$bg--fade-main: rgba($bg--main, 0.6);
$bg--navbar: transparent;
$bg--light: $color-off-white; // TODO: eliminate
$bg--dark: $color-dark-red; // TODO: eliminate
$bg--overlay: $color-transparent-black;
$bg--placeholder: $color-light-gray;
$bg--control: $color-gray;

// borders
$border--main: $color-transparent-black--light;
$border--light: $color-off-white;
$border--mid: $color-light-gray;
$border--dark: $color-gray;
$border--dark--selected: $color-dark-gray;
$border--input: $border--dark;
$border--input-active: $border--dark;
$border--tabs: $color-primary;

$border-radius--input: 4px;
$border-radius--tooltip: 16px;

// shadows
$drop-shadow: 0 3px 8px rgba($color-black, 0.1);
$drop-shadow--light: 0 3px 15px $color-transparent-black--light;

// typography
$text--main: $color-black;
$text--subtle: $color-medium-gray;
$text--dark: $color-dark-gray; // TODO: refactor out
$text--light: $color-white;
$text--accent: $color--accent;
$text--placeholder: $text--main;

// ---------------------------------
//   Type
// ---------------------------------

// fonts
$font-philosopher: 'Philosopher', sans-serif;
$font-mulish: 'Mulish', sans-serif;

$font-header--main: $font-philosopher;
$font-body--main: $font-mulish;
$font-body--accent: $font-header--main;

$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--black: 800;

$content-gutter: 1rem;

// headings
$h1-size: 54;
$h1-size--mobile: 32;

$h2-size: 34;
$h2-size--mobile: 22;

$h3-size: 20;
$h3-size--mobile: 18;

$h4-size: 16;
$h4-size--mobile: 14;

$h5-size: 16;
$h5-size--mobile: 14;

$h6-size: 12;
$h6-size--mobile: 12;

// ---------------------------------
//   Document
// ---------------------------------

// media queries
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-hd: 1280px;

// grid
$grid-gutter: 24px;
$grid-column-count: 12;
$block-grid-column-count: 8;
$container-max-width: $breakpoint-hd + $grid-gutter * 2;

$page-gutter: 30px;
$content-gutter: 1rem;

$navbar-height--mobile: 34px;
$navbar-height--desktop: 44px;

// ---------------------------------
//   Exports
// ---------------------------------

// :export {
//   breakTablet: $breakpoint-tablet;
//   breakDesktop: $breakpoint-desktop;
//   breakHd: $breakpoint-hd;
// }
